
/* TAREA 1 */

h1, h3, h5 {            /*(0,0,2)*/
    font-stretch: expanded;
}

h2, h4, h6 {            /*(0,0,2)*/
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {     /*(0,0,2)*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 /* (0,0,1) */ { 
    font-size: 2em;
}
h2 /* (0,0,1) */ {
    font-size: 1.5em;
}
h3 /* (0,0,1) */ {
    font-size: 1.17em;
}
h4 /* (0,0,1) */ {
    font-size: 1em;
}
h5 /* (0,0,1) */ {
    font-size: 0.83em;
}
h6 /* (0,0,1) */ {  
    font-size: 0.67em;
}

/* TAREA 2 */

p, ul, ol, dl, table {  /*(0,0,2)*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

p::first-letter {       /*(0,0,2)*/
    font-size:1.5em;
}

/* TAREA 3 */ 

h1,h2,h3,h3,h4,h5,h6 {  /*(0,0,º)*/
    background-color: rgb(65, 10, 10,100);
    color: rgb(255, 179, 179);
}

p {                     /*(0,0,1)*/
    background-color: rgba(65,10,10,500);
    color: rgb(255, 179, 179);
}

/* TAREA 4 */
body {                  /*(0,0,1)*/
    background-color: gray;
    background-image: url("resources/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* TAREA 5 */

h1,h2,h3,h4,h5,h6 {     /*(0,0,1)*/
    fill: burlywood;
    padding: 2%;
    margin: 2%;  
    align-self: center;
    text-transform: capitalize;
}

h1 {                    /*(0,0,1)*/
    letter-spacing: 2em;
    border-radius: 70%;
}

p {                     /*(0,0,1)*/
    text-justify: inter-word;
    text-align: left;
}

/* TAREA 6 */
a{                      /*(0,0,1)*/
    background: rgba(65,10,10,500);
}

a:link{                 /*(0,1,1)*/
    color: orange;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    
}

a:visited {             /*(0,1,1)*/
    color: orangered;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

/* TAREA 7 */
table{                  /*(0,0,1)*/
    background: rgba(65,10,10,500);
    border: 3px solid whitesmoke;
}

table th, table td{     /*(0,0,2)*/
    color: rgb(255, 179, 179);
    border: 1px solid whitesmoke;
}


ul li, ol li{           /*(0,0,2)*/
    background: rgba(65,10,10,500);
    color: rgb(255, 179, 179);
}